<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add a trip!</h1>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <form action="/add_trip", method='post'>{% csrf_token %}
        <p>Destination: <input type="text" name="destination" id=""></p>
        <p>Description: <input type="text" name="description" id=""></p>
        <p>Start date: <input type="date" name="start" id=""></p>
        <p>End date: <input type="date" name="end" id=""></p>
    
        <input type="submit" name="" value="ADD">
        </form>
        <a href="/travels">Home   </a>
        <a href="/logout">Logout</a>
    </body>
</html>